# Node.js
/node_modules
/dist
/build
/temp
/tmp

# TypeScript output
*.js
*.js.map

# Environment files
.env
.env.local

# IDE & Editor settings
.idea/
.vscode/
shelf/
workspace.xml
httpRequests/
dataSources/
dataSources.local.xml

# PostgreSQL
/data/

# 시드 및 민감 파일
src/data-source.ts
src/seed/users_seed.json
src/seed/properties_seed.json
src/seed/constants.ts

# 컴파일된 미들웨어 파일
src/middleware/auth.middleware.js
